main{
    /* border: 2px solid black; */
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

body{
    background-image: linear-gradient( 111.5deg,  rgba(242,246,254,1) 0.3%, rgba(227,233,252,1) 99.1% );


}
.card{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 26px;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
        
    }
    
    
    
    .card1{   
    border-radius: 10px;
    text-align: center;
}
.h2-card1{
    font-size: 24px;
    margin-bottom: 10px;
}
p{
    /* border: 2px solid black; */
    margin: 20px auto;
    font-size: 16px;
    color: #555;
}
.img{
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 


.btn{
    /* border: 2px solid black; */
    position: relative;
    margin: 10px auto;
}



.btn-grad{
    /* border: 2px solid black; */
    visibility: hidden;
    margin-left: 80px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    position: relative;
    outline: none;
    z-index: 1;
    border: none;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
}

.plus{
    width: 30px;
    position: absolute;
    top:10px;
    left:100px;
    z-index: 0;  
}

.minus{
    width: 30px;
    position: absolute;
    top: 10px;
    visibility: visible;
    z-index: 0;
    left: 190px;
}

.quantity{
    width: 40px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 140px ;
    text-align: center;
    border: none;
    background-color: transparent;
}


.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


main.light,
main.light * {
background-color: #ffffff;
color: #000000;
}


main.dark,
main.dark *{
    background-color: #121212;
color: #e2dddd;
}

main.dark{
    background-color: white;
    color: black;

}
