.container{
    /* border: 2px solid black;    */
    width: 100%;
    height:60px;
    margin-top:2px;
    display: flex; 
    flex-direction: row;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    border-radius: 5px;
    background: #EEAECA;
    background-image: radial-gradient( circle 476px at 54.8% 51.5%,  rgba(168,229,253,1) 0%, rgba(244,244,254,1) 42.3%, rgba(244,244,254,1) 100.2% );
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px 0 5px 10px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.logo:hover {
  transform: scale(1) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1.2);
}

.menu{
    /* border: 2px solid black; */
    margin: 10px auto;
    font-size: large;
    font-weight: bold;
}

li a{
    color: black;
    text-decoration: none;

}

.navbar{
    width: 500px;
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;   
    font-family: monospace;
    font-weight: bold;
    color: black;
}

.search{
    /* border: 2px solid black; */
    width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.searchbar{
    /* border: 2px solid black; */
    width: 350px;
    margin: 5px auto;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 50px;
}


.navbar:hover .plcontainer{   
    /* border: 2px solid black; */
    width: 400px;
    height: 400px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
} 

.navbar{
    display: flex;
    list-style: none;
    gap: 20px;
}
.container,
.light {
background-color: #ffffff;
color: #000000;
}
.container,
.dark {
background-color: #121212;
color: #e2dddd;
}

nav.dark,
nav.dark *{
    background-color: #121212;
color: #e2dddd;
}





.Login{
    /* border: 2px solid black; */
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 10px auto;
    padding: 10px;
    list-style: none;
     
}


.togglebutton{
    /* border: 2px solid black; */
    margin-right: 20px;
    width: 50px;
    /* height:40px; */
    border: none;
    border-radius: 20px;
}

.togglebutton:hover{
    background-color: #00030f;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}


.login{
    /* border: 2px solid black; */
    margin: 10px auto;
    font-size: large;
    font-weight: bold;
    font-family: monospace;

}

.register{
    /* border: 2px solid black; */
    margin: 10px auto;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
}



